/* PALETTE */
$red: #E60000;
$cost-bg-colour: #f4f4f4;

/* FONTS */
$font-family: Open Sans, sans-serif;
$regular-font-color: #181614;
$red-font-size: 32px;
$bold: 700;
$reg-font: 400;
$light-font: 200;
$line-height: 1.34;
$h1-size: 40px;
$reg-size: 16px;

/* MARGINS & PADDING */
$phone-width: 200px;
$phone-margin-top: 32px;
$aside-padding: 32px 45px;
$figure-width: 550px;
$aside-half: 275px;
$label-radius: 20%;

/*  MIXINS */
@mixin clear-margins {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
@mixin title-font {
    font-size: $h1-size;
    font-weight: $light-font;
    color: $regular-font-color;
    margin: 0px 0px 20px;
    text-align: left;
    display: block;
    line-height: 1.1;
    width: 100%;
}
@mixin regular-font {
    font-size: $reg-size;
    color: $regular-font-color;
    line-height: $line-height;
    font-weight: $light-font;
    text-align: left;
}
@mixin center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin: 0;
}
@mixin undo-center {
    top: 0%;
    left: 0%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
@mixin horizontal-center {
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@mixin transition-ease($secs) {
    transition: all $secs ease;
    -webkit-transition: all $secs ease;
    -moz-transition: all $secs ease;
    -ms-transition: all $secs ease;
    -o-transition: all $secs ease;
}





body {
    font-family: $font-family;
    @include clear-margins;
    div ,p , h1 {
        @include clear-margins;
    }
    /* CONTAINER */
    main {
        width: 100vw;
        max-width: 1207px;
        min-height: 663px;
        height: auto;
        background: #fff;
        @include center;
        /* Resets main to top of page on smaller screens */
        @media only screen and (max-width: 767px), (max-height: 663px) {
            @include undo-center;
        }
        /* IMAGE SECTION */
        figure {
            width: $figure-width;
            min-height: 663px;
            display: inline-block;
            margin: auto;
            float: left;
            position: relative;
            /* Takes up remaning space after data section calculation */
            @media only screen and (max-width: 1207px) and (min-width: 940px) {
                width: calc(100vw - 658px);
            }
            /* Reduces width of image section to allow more room for data section */
            @media only screen and (max-width: 939px) and (min-width: 768px) {
                width: 285px;
            }
            /* Fills width of screen on small devices */
            @media only screen and (max-width: 767px) {
                width: 100vw;
                min-height: initial;
            }
            img {
                width: $phone-width;
                height: auto;
                margin-top: $phone-margin-top;
                @include transition-ease(250ms);
                @include horizontal-center;
                @media only screen and (max-width: 767px) {
                    width: auto;
                    height: 70vh;
                }
            }
        }
        /* DATA SECTION */
        aside {
            width: 567px;
            min-height: 599px;
            background: #fff;
            display: inline-block;
            padding: $aside-padding;
            /* Takes up remining width after allowing for width of smaller image section */
            @media only screen and (max-width: 939px) and (min-width: 768px) {
                width: calc(100vw - 375px);
            }
            /* Fills width of screen on small devices */
            @media only screen and (max-width: 767px) {
                width: calc(100vw - 90px);
            }
            h1 {
                @include title-font;
                @media only screen and (max-width: 767px) {
                    text-align: center;
                }
            }
            p {
                @include regular-font;
                @media only screen and (max-width: 767px) {
                    margin: 0px;
                }
                &#description {
                    @media only screen and (min-width: 1207px) {
                        margin-right: -20px;
                    }
                }
            }
            div {
                &#rating {
                    display: inline-block;
                    margin: 0px 0px 22px;
                    text-align: left;
                    line-height: $line-height;
                    width: 100%;
                    @media only screen and (max-width: 767px) {
                        text-align: center;
                    }
                    canvas {
                        display: inline-block;
                        margin: 0px 2px;
                    }
                }
                &#specs {
                    margin: 40px 0px 0px;
                    width: 100%;
                    @media only screen and (max-width: 767px) {
                        height: 200px;
                    }
                    .individual-spec {
                        max-width: $aside-half;
                        width: 48.5vw;
                        display: inline-block;
                        @media only screen and (max-width: 939px) and (min-width: 768px) {
                            width: 49%;
                        }
                        @media only screen and (max-width: 767px) {
                            width: auto;
                            display: block;
                        }
                        &#capacity-spec {
                            float: right;
                            @media only screen and (max-width: 767px) {
                                float: left;
                            }
                        }
                        #colour {
                            display: inline-block;
                            font-weight: $bold;
                            text-align: left;
                        }
                        #capacity {
                            display: inline-block;
                            font-weight: $bold;
                            text-align: left;
                        }
                        /* General specs container rules */
                        .specs-button-container {
                            margin: 20px 0px 20px -5px;
                            @media only screen and (max-width: 767px) {
                                margin: 5px 0px 20px -5px;
                            }
                            .radio {
                                display: inline-block;
                                width: 54px;
                                height: 54px;
                                background: #fff;
                                margin: 2px 2px 2px 0px;
                                .border {
                                    height: 44px;
                                    width: 44px;
                                    border-radius: 24%;
                                    padding: 4px;
                                    position: relative;
                                    @include transition-ease(250ms);
                                    input[type="radio"] {
                                        position: absolute;
                                        visibility: hidden;
                                    }
                                    label {
                                        height: 44px;
                                        width: 44px;
                                        border-radius: $label-radius;
                                        border: 1px solid #ccc;
                                        position: absolute;
                                        cursor: pointer;
                                        @include center;
                                        .gradient {
                                            background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.25));
                                            position: absolute;
                                            height: 100%;
                                            width: 100%;
                                            border-radius: $label-radius;
                                        }
                                    }
                                }
                            }
                        }
                        /* Specific colour specs container rules */
                        & #colour-radio .radio .border label .gradient {
                                            background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.25));
                                            position: absolute;
                                            height: 100%;
                                            width: 100%;
                                            border-radius: 20%;
                        }
                        /* Specific capacity specs container rules */
                        & #capacity-radio .radio .border label p {
                                            @include center;
                        }
                    }
                }
                &#cost {
                    width: 100%;
                    min-height: 125px;
                    height: auto;
                    background: $cost-bg-colour;
                    margin: 80px 0px 0px;
                    /* Full screen minus margin on smaller screens */
                    @media only screen and (max-width: 767px) {
                        width: calc(100vw - 90px);
                    }
                    .individual-cost {
                        max-width: $aside-half;
                        width: 48.5vw;
                        height: auto;
                        display: inline-block;
                        position: relative;
                        overflow: hidden;
                        @media only screen and (max-width: 939px) {
                            width: 50%;
                        }
                        @media only screen and (max-width: 767px) {
                            max-width: 100%;
                            ;
                        }
                        div {
                            height: 85px;
                            margin: 20px 0px;
                            position: relative;
                            p {
                                @include vertical-align;
                                width: auto;
                                margin: 0px 20px;
                                @media only screen and (max-width: 939px) {
                                    margin: 0px 10px;
                                }
                            }
                            span {
                                font-size: $red-font-size;
                                color: $red;
                                font-weight: $bold;
                                line-height: 1.2;
                            }
                        }
                        &#monthly-cost {
                            float: right;
                            div {
                                border-left: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}


