/* PALETTE */
/* FONTS */
/* MARGINS & PADDING */
/*  MIXINS */
body {
  font-family: Open Sans, sans-serif;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /* CONTAINER */ }
  body div, body p, body h1 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; }
  body main {
    width: 100vw;
    max-width: 1207px;
    min-height: 663px;
    height: auto;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin: 0;
    /* Resets main to top of page on smaller screens */
    /* IMAGE SECTION */
    /* DATA SECTION */ }
    @media only screen and (max-width: 767px), (max-height: 663px) {
      body main {
        top: 0%;
        left: 0%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none; } }
    body main figure {
      width: 550px;
      min-height: 663px;
      display: inline-block;
      margin: auto;
      float: left;
      position: relative;
      /* Takes up remaning space after data section calculation */
      /* Reduces width of image section to allow more room for data section */
      /* Fills width of screen on small devices */ }
      @media only screen and (max-width: 1207px) and (min-width: 940px) {
        body main figure {
          width: calc(100vw - 658px); } }
      @media only screen and (max-width: 939px) and (min-width: 768px) {
        body main figure {
          width: 285px; } }
      @media only screen and (max-width: 767px) {
        body main figure {
          width: 100vw;
          min-height: initial; } }
      body main figure img {
        width: 200px;
        height: auto;
        margin-top: 32px;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        margin-left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%); }
        @media only screen and (max-width: 767px) {
          body main figure img {
            width: auto;
            height: 70vh; } }
    body main aside {
      width: 567px;
      min-height: 599px;
      background: #fff;
      display: inline-block;
      padding: 32px 45px;
      /* Takes up remining width after allowing for width of smaller image section */
      /* Fills width of screen on small devices */ }
      @media only screen and (max-width: 939px) and (min-width: 768px) {
        body main aside {
          width: calc(100vw - 375px); } }
      @media only screen and (max-width: 767px) {
        body main aside {
          width: calc(100vw - 90px); } }
      body main aside h1 {
        font-size: 40px;
        font-weight: 200;
        color: #181614;
        margin: 0px 0px 20px;
        text-align: left;
        display: block;
        line-height: 1.1;
        width: 100%; }
        @media only screen and (max-width: 767px) {
          body main aside h1 {
            text-align: center; } }
      body main aside p {
        font-size: 16px;
        color: #181614;
        line-height: 1.34;
        font-weight: 200;
        text-align: left; }
        @media only screen and (max-width: 767px) {
          body main aside p {
            margin: 0px; } }
        @media only screen and (min-width: 1207px) {
          body main aside p#description {
            margin-right: -20px; } }
      body main aside div#rating {
        display: inline-block;
        margin: 0px 0px 22px;
        text-align: left;
        line-height: 1.34;
        width: 100%; }
        @media only screen and (max-width: 767px) {
          body main aside div#rating {
            text-align: center; } }
        body main aside div#rating canvas {
          display: inline-block;
          margin: 0px 2px; }
      body main aside div#specs {
        margin: 40px 0px 0px;
        width: 100%; }
        @media only screen and (max-width: 767px) {
          body main aside div#specs {
            height: 200px; } }
        body main aside div#specs .individual-spec {
          max-width: 275px;
          width: 48.5vw;
          display: inline-block;
          /* General specs container rules */
          /* Specific colour specs container rules */
          /* Specific capacity specs container rules */ }
          @media only screen and (max-width: 939px) and (min-width: 768px) {
            body main aside div#specs .individual-spec {
              width: 49%; } }
          @media only screen and (max-width: 767px) {
            body main aside div#specs .individual-spec {
              width: auto;
              display: block; } }
          body main aside div#specs .individual-spec#capacity-spec {
            float: right; }
            @media only screen and (max-width: 767px) {
              body main aside div#specs .individual-spec#capacity-spec {
                float: left; } }
          body main aside div#specs .individual-spec #colour {
            display: inline-block;
            font-weight: 700;
            text-align: left; }
          body main aside div#specs .individual-spec #capacity {
            display: inline-block;
            font-weight: 700;
            text-align: left; }
          body main aside div#specs .individual-spec .specs-button-container {
            margin: 20px 0px 20px -5px; }
            @media only screen and (max-width: 767px) {
              body main aside div#specs .individual-spec .specs-button-container {
                margin: 5px 0px 20px -5px; } }
            body main aside div#specs .individual-spec .specs-button-container .radio {
              display: inline-block;
              width: 54px;
              height: 54px;
              background: #fff;
              margin: 2px 2px 2px 0px; }
              body main aside div#specs .individual-spec .specs-button-container .radio .border {
                height: 44px;
                width: 44px;
                border-radius: 24%;
                padding: 4px;
                position: relative;
                transition: all 250ms ease;
                -webkit-transition: all 250ms ease;
                -moz-transition: all 250ms ease;
                -ms-transition: all 250ms ease;
                -o-transition: all 250ms ease; }
                body main aside div#specs .individual-spec .specs-button-container .radio .border input[type="radio"] {
                  position: absolute;
                  visibility: hidden; }
                body main aside div#specs .individual-spec .specs-button-container .radio .border label {
                  height: 44px;
                  width: 44px;
                  border-radius: 20%;
                  border: 1px solid #ccc;
                  position: absolute;
                  cursor: pointer;
                  top: 50%;
                  left: 50%;
                  position: absolute;
                  transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  margin: 0; }
                  body main aside div#specs .individual-spec .specs-button-container .radio .border label .gradient {
                    background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.25));
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 20%; }
          body main aside div#specs .individual-spec #colour-radio .radio .border label .gradient {
            background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.25));
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 20%; }
          body main aside div#specs .individual-spec #capacity-radio .radio .border label p {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            margin: 0; }
      body main aside div#cost {
        width: 100%;
        min-height: 125px;
        height: auto;
        background: #f4f4f4;
        margin: 80px 0px 0px;
        /* Full screen minus margin on smaller screens */ }
        @media only screen and (max-width: 767px) {
          body main aside div#cost {
            width: calc(100vw - 90px); } }
        body main aside div#cost .individual-cost {
          max-width: 275px;
          width: 48.5vw;
          height: auto;
          display: inline-block;
          position: relative;
          overflow: hidden; }
          @media only screen and (max-width: 939px) {
            body main aside div#cost .individual-cost {
              width: 50%; } }
          @media only screen and (max-width: 767px) {
            body main aside div#cost .individual-cost {
              max-width: 100%; } }
          body main aside div#cost .individual-cost div {
            height: 85px;
            margin: 20px 0px;
            position: relative; }
            body main aside div#cost .individual-cost div p {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              width: auto;
              margin: 0px 20px; }
              @media only screen and (max-width: 939px) {
                body main aside div#cost .individual-cost div p {
                  margin: 0px 10px; } }
            body main aside div#cost .individual-cost div span {
              font-size: 32px;
              color: #E60000;
              font-weight: 700;
              line-height: 1.2; }
          body main aside div#cost .individual-cost#monthly-cost {
            float: right; }
            body main aside div#cost .individual-cost#monthly-cost div {
              border-left: 1px solid #ccc; }

/*# sourceMappingURL=styles.css.map */
